.logo {
  margin-top: 25px;
  margin
}

.logo h1 {
  font-family: Lato, "Avenir Next";
  //border-bottom: 3px solid #000;
  background-color: #000;
  color: #fff;
  padding-left: 10px;
  margin-bottom: 20px;
  width: 140px;
  font-size: 25px;
}

.nav_link {
  margin-bottom: 10px;
}

.nav_link a {
  font-family: Lato, "Avenir Next";
  color: #000;
  text-transform: uppercase;
  font-weight: 900;
  border-left: 3px solid transparent;
  padding-left: 5px;
}

.nav_link a:hover {
  border-left: 3px solid #000;
}

.docs {
  margin-top: 25px;
}

.para_heading {
  text-transform: uppercase;
  font-size: 15px;
  border-bottom: 1px solid #c4c4c4;
  font-family: Lato;
  font-weight: bold;
}

p {
  margin-top: 10px;
  font-family: Lato;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Lato;
  font-weight: bold;
}

a {
  color: #000;
}

.section {
  margin-top: 20px;
}

pre code {
  font-size: 14px;
}

pre > code {
  display: block; 
}
}
